<h3>Add Story</h3>

<div class="row">

    <form action="/journal" method="POST" class="col s12">

    <div class="row">

        <div class="input-field">
            <input type="text" id="title" name="title">
            <label for="title">Title</label>
        </div>
    </div>

      

    <div class="row">

        <div class="input-field">
            <select name="status" id="status">
                <option value="public" selected>Public</option>
                <option value="private">Private</option>
                
             
            </select>
               <label for="status">Status</label>
        </div>
        <div class="input-field">
            <select name="type" id="type">
                <option value="public" selected>Food Diary</option>
                <option value="public">Health Diary</option>
                <option value="public">Education Diary</option>
                <option value="public">Kids Diary</option>
                <option value="public">Secret Diary</option>
                <option value="public">Work Diary</option>
                <option value="public">Finance Diary</option>
                <option value="public">Electronic Diary</option>
                <option value="public">Relationship Diary</option>
             
        </select>
               <label for="type">Type</label>
        </div>
    </div>
    
    <div class="row">

        <div class="input-field">
            <h5>How was your day?:</h5>
            <textarea name="body" id="body"></textarea>
        </div>
    </div>

    <div class="row">

        <input type="submit" value="Save" class="btn">
        <a href="/dashboard" class="btn orange">Cancel</a>
    </div>
    </form>

</div>